<div ng-controller="sideController">

<div class="well">
  <div id="custom-search-input">
              <div class="input-group col-md-12">
                  <input type="text" class="  search-query form-control" placeholder="Search" />
                      <span class="input-group-btn">
                          <button class="btn btn-success" type="button">
                            <span class=" glyphicon glyphicon-search"></span>
                           </button>
                    </span>
              </div>
          </div>

          <div class="checkbox" ng-repeat="name in urlLatest.brands">
    <label><input type="checkbox" value="">{{name}}</label>
  </div><!-- check -->

</div><!-- well -->
<div class="well" >
        <div class="panel-group" id="accordion">

          <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
              <h4 class="panel-title">
                Overall
              </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
              <div class="panel-body">
                  <!-- ---------------------- -->
                <ul class="list-group list-unstyled">
                    <li>
                        <div class="checkbox" ng-repeat="rating in urlLatest.categoriesToPossibleRatingMap.Overall">
                                <label><input type="checkbox" value="">
  
                                  <stars rate = "{{urlLatest.categoriesToPossibleRatingMap.Overall[$index]}}"></stars>
                                  
      
                              </label>
                          </div><!-- check -->
                    </li>
                </ul>
                  <!-- ----------------------- -->
               </div>
            </div>
          </div><!-- panel -->

          <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
              <h4 class="panel-title">
                Camera
              </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse in">
              <div class="panel-body">
                  <div class="checkbox" ng-repeat="sidecamera in urlLatest.categoriesToPossibleRatingMap.Camera">
                  <label><input type="checkbox" value="">{{sidecamera}}</label>
               </div>
            </div>
          </div><!-- panel -->

          <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse3">
              <h4 class="panel-title">
                Battery
              </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
              <div class="panel-body">
                  <div class="checkbox" ng-repeat="sidecamera in urlLatest.categoriesToPossibleRatingMap.Battery">
                  <label><input type="checkbox" value="">{{sidecamera}}</label>
                </div><!-- check -->
              </div>
            </div>
          </div><!-- panel -->

          <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse4">
              <h4 class="panel-title">
                RAM
              </h4>
            </div>
            <div id="collapse4" class="panel-collapse collapse">
              <div class="panel-body">
                  <div class="panel-body">
                      <div class="checkbox" ng-repeat="sidecamera in urlLatest.categoriesToPossibleRatingMap.Ram">
                      <label><input type="checkbox" value="">{{sidecamera}}</label>
                    </div><!-- check -->
                  </div>
              </div>
            </div>
          </div><!-- panel -->

          <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse5">
              <h4 class="panel-title">
                Memory/Storage
              </h4>
            </div>
            <div id="collapse5" class="panel-collapse collapse">
              <div class="panel-body">
                  <div class="panel-body">
                  <div class="checkbox" ng-repeat="sidecamera in urlLatest.categoriesToPossibleRatingMap['Memory/Storage']">
                  <label><input type="checkbox" value="">{{sidecamera}}</label>
                </div><!-- check -->
              </div>
              </div>
            </div>
          </div><!-- panel -->

          <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse6">
              <h4 class="panel-title">
                User Review 
              </h4>
            </div>
            <div id="collapse6" class="panel-collapse collapse in">
              <div class="panel-body">
                  <div class="checkbox" ng-repeat="sidecamera in urlLatest.userReviewCouns">
                  <label><input type="checkbox" value="">>{{sidecamera}}</label>
                </div><!-- check -->
               </div>
            </div>
          </div><!-- panel -->

        </div> 
    
    </div><!-- well -->

    
</div>